[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
bs4 = "*"
selenium = "*"
webdriver-manager = "*"
mongoengine = "*"

[requires]
python_version = "3.9"
